extends base.pug

block content
  form(action="/items" method="POST")
    input(type="text" name="name" placeholder="item")
    input(type="number" name="quantity" placeholder="quantity")
    input(type="submit" value="Add")
